body{
    margin:0;
}

.sidebar{
    width: 20%;
    height: 400px;
    background: #333;
    color: #fff;
    float: left;
    outline: 1px solid #2a2a2a;
    box-sizing: border-box;
}

.sidebar h2{
    text-align: center;
    margin: 0;
    padding: 10px;
    background: #2a2a2a;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li{
    outline: 1px solid peru;
    transition: all 0.3s;
}

.sidebar li:hover{
    background: #444;
    border-left: 5px solid #eee;
}
.sidebar a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}


.contenido{
    width: 80%;
    height: 500px;
    background: #eee;
    padding: 30px;
    transition: all 0.3s;
    float: left;
    box-sizing: border-box;
}

.contenedor{
    width: 90%;
    /*     max-width: 1500px; */
    margin: 0 auto;
    overflow: hidden;
    background: #eee;
    box-sizing: border-box;
}

.formulario input[type=text] {
    width: 100%;
    background-color: #3CBC8D;
    color: white;
}

@media screen and (max-width:1000px){
    .sidebar{
        width: 100%;
    }
    .contenido{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .contenedor{
        width: 100%;
    }
}



/*CSS para la tabla*/
#cajerosTabla {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#cajerosTabla td, #cajerosTabla th {
    border: 1px solid #ddd;
    padding: 8px;
}

#cajerosTabla tr:nth-child(even){background-color: #f2f2f2;}

#cajerosTabla tr:hover{
    background-color: #ddd;
}

#cajerosTabla th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.login_container{
    max-width: 700px;
    padding:  100px 25px;
    margin: 0 auto;
    display: block;
}

.error{
    color: indianred;
    font-weight: bold;
}
.success{
    color: #2fcd55;
    font-weight: bold;
}


/*Navbar Cajero*/

.wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
}

header {
    background: #008fd5;
    width: 100%;
    position: fixed;
    z-index: 10;
    padding-top: 0;
}

nav {
    float: left;
    width: 100%;
}

nav ul {
    list-style: none;
    overflow: hidden;
    margin-bottom: 0;
    width: 100%;
}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
    /*border-bottom: solid 5px;*/
}
nav ul li a i {
    font-size: 20px !important;
}
nav ul li.right {
    float: right !important;
}


nav ul li a {
    display: block;
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li:hover , nav ul li.active{
    /*border-bottom: solid 5px #0078b4;*/
    background-color: #0078b4;
}
.contenido {
    padding-top: 80px;
}

a {
    text-decoration: none;
}

a:hover {
    color: white !important;
    text-decoration: none !important;
}

.main-color{
    color: #626262 !important;
}

.text-center{
    text-align: center;
}

.btn-main {
    color: white;
    font-weight: bold;
    background-color: #005a87;
}

.btn-main:hover{
    background-color: #004465;
}
